.container {
  display: flex;
  justify-content: center;

  .p-card {
    margin: 2rem;

    .p-card-content {
      padding: 0;
      display: flex;

      .avatar {
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image-container {
          position: relative;
          display: inline-block;
          text-align: center;

          .select-profile-picture {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }

          img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
          }

          &:hover {
            opacity: .6;
          }
        }

        small {
          margin: 2px 0;

          span {
            color: #f85565;
          }
        }
      }

      .settings {
        border-left: 2px solid #47515e;
        padding: 2rem 2rem;

        h1 {
          font-family: "Josefin Sans", sans-serif;
        }

        form {
          .p-field {
            margin-top: 10px;

            textarea {
              width: 100%;
            }

            .group {
              display: flex;
              margin-top: 2px;

              input {
                width: 100%;
              }
            }
          }

          .social-networks-footer {
            margin-top: 10px;
            text-align: center;
          }

          .row {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .p-field {
              margin-right: 1rem;
            }
          }

          .input-label {
            display: block;
            margin-bottom: 5px;
          }

          .form-footer {
            width: 100%;
            margin-top: 20px;

            button {
              width: 100%;
              text-align: center;
              font-size: 1.1rem;
              font-family: Spinnaker, sans-serif;
            }
          }
        }
      }
    }
  }
}

:host {
  ::ng-deep .p-inputmask {
    width: 100%;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }
}
