<app-error-message
  *ngIf="errors$ | async"
  [error]="errors$ | async"
></app-error-message>
<app-progress-spinner
  *ngIf="(isLoading$ | async) && !(feedData$ | async)">
</app-progress-spinner>

<ng-container *ngIf="feedData$ | async">
  <ng-container *ngFor="let article of (feedData$ | async)?.articles | search: 'title':search">
    <app-article
      [article]="article"
    ></app-article>
  </ng-container>
</ng-container>

<ng-container *ngIf="isFeedDataEmpty$ | async">
  <h2>There are no articles here</h2>
</ng-container>




